<h1>ツイート一覧</h1> 
 <div class="twite_box">
<% @tweets.each do |tweet| %>
  <hr>
  <p> <%= link_to tweet.user.email, user_path(tweet.user.id) %></p>
  <span>投稿日時：</span>
   <%=link_to tweet.created_at.strftime('%Y/%m/%d %H:%M:%S'), tweet_path(tweet.id) %>
  <p><%=link_to tweet.body, tweet_path(tweet.id) %></p>
  <br>
  <% if user_signed_in? %>
        <% if tweet.favorited_by?(current_user) %>
            <p><span> いいね: </span> <%= link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :delete %></p>
        <% else %>
            <p><span>いいね: </span> <%= link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :post %></p>
        <% end %>
    <% else %>
        <p><span>お気に入り数: </span><%= tweet.favorites.count %></p>
    <% end %>
    
<% end %>
</div>